= form_for @trade_request do |f|
  - if @trade_request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@trade_request.errors.count, "error")} prohibited this trade_request from being saved:"
      %ul
        - @trade_request.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name, 'Name'
    = f.text_field :name, placeholder: 'Best deal in Antarctica!'
  .field
    = f.label :location, 'Location of Trade'
    = f.text_area :location, placeholder: "The full address of a well-populated public place like a Cafe, Bank, or Police Station. \r\rWARNING - Never use your Home or Work as a Trade Location"
  .field
    = f.label :kind, 'Trade Type'
    = f.select :kind, [['I am Selling Dash', 'sell'], ['I am Buying Dash', 'buy']]
  .field
    = f.label :currency, 'Accepted Currency'
    = f.select :currency, ExchangeRateService::CURRENCIES.map {|c| [c.upcase, c]}
  .field
    = f.label :profit, 'Percentage Profit'
    = f.text_field :profit, placeholder: 'A number like "2" or "5.5"'
  .actions
    = f.submit 'Save', class: 'button primary'
    = link_to 'Cancel', trade_requests_path, class: 'button text'
