- class_name = expanded ? 'row expanded' : 'row collapsed'
- link_url = expanded ? trade_requests_path : trade_requests_path(expand: trade_request.id)
%div{class: class_name}
  = link_to link_url, class: 'name' do
    = trade_request.name
  .info
    Active
  .info
    = trade_request.offers.count
    Offers
  .actions
    .fa.fa-cog.fa-lg{onclick: 'window.onClickActionToggle(this)'}
    .action-list
      = link_to 'Edit', edit_trade_request_path(trade_request)
- if expanded
  - trade_request.offers.each do |offer|
    .row
      .name
        = offer.user.username
      .info
        = offer.status
      .info
      .actions
        = link_to 'Decline', '#', :data => { :confirm => 'Are you sure?' }
        = link_to 'Approve', '#'
