- state_class_name = expanded ? 'row expanded' : 'row collapsed'
- class_name = trade_request.offers.empty? ? 'row' : state_class_name
- link_url = expanded ? trade_requests_path : trade_requests_path(expand: trade_request.id)
%div{class: class_name}
  = link_to link_url, class: 'name' do
    = trade_request.name
  .info
    - if trade_request.active
      Active
    - else
      Disabled
  .info
    = trade_request.offers.count
    Offers
  .actions
    .fa.fa-cog.fa-lg{onclick: 'window.onClickActionToggle(this)'}
    .action-list
      = link_to 'Edit', edit_trade_request_path(trade_request)

      = link_to 'View', public_trade_request_path(trade_request.slug) if trade_request.active

      = link_to 'Activate', trade_request_activate_path(trade_request), method: 'PATCH' unless trade_request.active
      = link_to 'Disable', trade_request_disable_path(trade_request), method: 'PATCH' if trade_request.active

      - unless trade_request.offers.empty?
        = link_to 'Show Offers', link_url unless expanded
        = link_to 'Hide Offers', link_url if expanded
- if expanded
  - trade_request.offers.each do |offer|
    - offer = offer.decorate
    .row
      .name
        = link_to offer.user.username, public_user_profile_path(offer.user.username)
      .info
        = offer.status_for_user(current_user)
      .info
      .actions
        - if offer.pending?
          = link_to 'Decline', trade_requests_offer_decline_path(offer.id), method: 'PATCH', data: { confirm: 'Are you sure?' }
          = link_to 'Approve', trade_requests_offer_approve_path(offer.id), method: 'PATCH'
        - if offer.approved?
          = mail_to offer.user.email, 'Email'
        - if offer.approved? and not offer.reviewed_by?(current_user)
          %span.link{onclick: 'window.onClickActionToggle(this)'} Review
          .action-list
            = link_to 'Positive', reviews_path(review: {offer_id: offer.id, tone: 'positive'}), method: 'POST'
            = link_to 'Negative', reviews_path(review: {offer_id: offer.id, tone: 'negative'}), method: 'POST'
