- class_name = expanded ? 'row expanded' : 'row collapsed'
- link_url = expanded ? trade_requests_path : trade_requests_path(expand: trade_request.id)
%div{class: class_name}
  = link_to link_url, class: 'name' do
    = trade_request.name
  .info
    Active
  .info
    = trade_request.offers.count
    Offers
  .actions
    .fa.fa-cog.fa-lg{onclick: 'window.onClickActionToggle(this)'}
    .action-list
      = link_to 'Edit', edit_trade_request_path(trade_request)
      = link_to 'View', public_trade_request_path(trade_request.id)
- if expanded
  - trade_request.offers.each do |offer|
    .row
      .name
        = link_to offer.user.username, public_user_profile_path(offer.user.username)
      .info
        = offer.status.capitalize
      .info
      .actions
        - if offer.pending?
          = link_to 'Decline', trade_requests_offer_decline_path(offer.id), method: 'PATCH', data: { confirm: 'Are you sure?' }
          = link_to 'Approve', trade_requests_offer_approve_path(offer.id), method: 'PATCH'
        - if offer.approved?
          = mail_to offer.user.email, 'Email'
