= link_to '+ Create New', new_trade_request_path, class: 'button primary right phone-hidden'

%h1 Trade Requests

%hr

.table-list
  - @trade_requests.each do |trade_request|
    .row
      .name
        = trade_request.name
      .actions
        .fa.fa-cog.fa-lg
        .action-list
          = link_to 'Edit', edit_trade_request_path(trade_request)
          = link_to 'Destroy', trade_request, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to '+ Create New', new_trade_request_path, class: 'button primary phone-only'
