%h1 Make an Offer

%hr

= form_for @offer do |f|
  .field
    = f.label :trade_request_id, 'Trade Request'
    = f.hidden_field :trade_request_id, value: @trade_request.id
    %input{type: 'text', value: @trade_request.name, readonly: 'readonly'}
  .field
    = f.label :message, 'Message'
    = f.text_area :message, maxlength: 1000, placeholder: 'Add any details that you think will help the offer to be accepted.  Clarify anything special about your needs.'
  .actions
    = f.submit 'Submit Offer', class: 'button primary'
    = link_to 'Cancel', public_trade_request_path(@trade_request.slug), class: 'button text'

%hr

.muted
  %h2 Warning, Avoid Scammers:
  %p
    %strong
      Deal locally, face-to-face
    \- meet in a public place.
  %p
    %strong
      Never wire funds (e.g. Western Union)
    \- anyone who asks you to could be a scammer.
  %p
    %strong
      Don't accept cashier/certified checks or money orders
    \- banks cash fakes, then hold you responsible.
  %p
    %strong
      Transactions are between users only
    \, no third party provides a "guarantee".
  %p
    %strong
      Never give out financial info
    (bank account, social security, paypal account, etc).
