%h2 Login

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :username
    = f.text_field :username, autofocus: true

  .field
    = f.label :password
    = f.password_field :password, autocomplete: "off"

  .actions
    = f.submit "Log in"

=# render "devise/shared/links"
