%h1 Login

%hr

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :username
    = f.text_field :username, autofocus: true

  .field
    = f.label :password
    = f.password_field :password, autocomplete: "off"

  .actions
    = f.hidden_field :remember_me, value: 1
    = f.submit "Login"

= render "devise/shared/links"
