<%= form_for(trade_request) do |f| %>
  <% if trade_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trade_request.errors.count, "error") %> prohibited this trade_request from being saved:</h2>

      <ul>
      <% trade_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
