%h1 About Dashous

%hr

%h4 Mission Statement

%p
  Deliver worldwide access to the best form of money.

%h4 Origins

%p
  Dashous is an
  = link_to 'open-source', Settings.git.github_url, target: '_blank'
  project founded by
  = link_to 'Brett Clanton', 'http://brettclanton.com', target: '_blank'
  and
  = link_to 'initially funded', 'https://dashcentral.org/p/localbitcoins4dash', target: '_blank'
  by the Dash Treasury.

%p
  The goal was to replicate the functionality of
  = link_to 'LocalBitcoins.com', 'https://localbitcoins.com', target: '_blank'
  for the Dash community.

%h4 Future

%p
  While the first features of Dashous match the first features of
  LocalBitcoins, the direction of Dashous will not.

%p There will be a primary focus on:
%ul
  %li Simple user experiences
  %li A generalized approach to trading that ensures assessablility in all countries and regions
  %li Transparency
  %li Security

%h4 Vision

%p
  There is one form of money that is owned by everyone, controlled by no-one,
  and operates flawlessly.

%h4 Ways to help
%ul
  %li= link_to 'Contribute to the project', Settings.git.github_url, target: '_blank'
  %li= link_to 'Join the Discussion', 'https://www.reddit.com/r/dashous', target: '_blank'
  %li= link_to 'Fund new features', donate_path
