%h1 Search Results

%hr

- if @trade_requests.blank?

  .empty-state
    .fa.fa-search.fa-5x
    %p You can use the search tool (above) to find people that want to trade in a specific location!
    %p Or if you like, we can guess your location:
    = form_tag('/', method: 'POST', class: 'search') do
      = hidden_field_tag :detect_location, 1
      %input.button.primary(type="submit" value="Guess my location")

- else

  .table-list
    - @trade_requests.each do |trade_request|
      = link_to public_trade_request_path(trade_request.id), class: 'row' do
        .name= trade_request.name
        .info
          - distance = trade_request.distance_to(@query)
          = number_with_precision distance, precision: 1, delimiter: ','
          miles
          = Geocoder::Calculations.compass_point trade_request.bearing_from(@query)
        .info
          = trade_request.intention
        .info
          = number_to_currency trade_request.sale_price
