.profile-tag
  - user = @trade_request.user.decorate
  = link_to user.username, public_user_profile_path(user.username)
  %br
  = user.reputation


%h1= @trade_request.name

%iframe.map{ src: "//www.google.com/maps/embed/v1/place?q=#{@trade_request.map_location}&zoom=14&key=#{Settings.google_maps_embed.key}" }

%p
  This person is
  - if @trade_request.selling?
    %strong selling
    Dash for #{@trade_request.currency.upcase} at #{@trade_request.profit}% above market price
  - elsif @trade_request.buying?
    %strong buying
    Dash with #{@trade_request.currency.upcase} at #{@trade_request.profit}% below market price
%p
  The current sale price is
  %strong= @trade_request.sale_price
%p
  The trade location is:
  = @trade_request.location

- if @trade_request.offer_possible current_user
  %p
    = link_to 'Make Offer', offers_path('offer[trade_request_id]': @trade_request.id), method: 'POST', class: 'button primary'
- else
  %p
    %button.disabled Make Offer
  %p= @trade_request.offer_restricted_reason current_user
