.profile-tag
  - user = @trade_request.user.decorate
  = link_to user.username, public_user_profile_path(user.username)
  %br
  = user.reputation


%h1= @trade_request.name

%iframe.map{ src: "//www.google.com/maps/embed/v1/place?q=#{@trade_request.map_location}&zoom=14&key=#{Settings.google_maps_embed.key}" }

%p
  This person is
  = @trade_request.intention
  Dash
%p
  This person wants a
  = "#{@trade_request.profit}%"
  profit so the current sale price is
  = number_to_currency @trade_request.sale_price
%p
  The trade location is:
  = @trade_request.location

- if @trade_request.offer_possible current_user
  %p
    = link_to 'Make Offer', offers_path('offer[trade_request_id]': @trade_request.id), method: 'POST', class: 'button primary'
- else
  %p
    %button.disabled Make Offer
  %p= @trade_request.offer_restricted_reason current_user
