.profile-tag
  - user = @trade_request.user.decorate
  = link_to user.username, public_user_profile_path(user.username)
  %br
  = user.reputation


%h1= @trade_request.name

%iframe.map{ src: "//www.google.com/maps/embed/v1/place?q=#{@trade_request.map_location}&zoom=14&key=#{Settings.google_maps_embed.key}" }

- if @trade_request.description.blank?
  = render 'trade_request_info'
- else
  .grid
    .row
      .span-1of2
        = render 'trade_request_info'
      .span-1of2
        %hr.phone-only
        %h4
          More information from
          = user.username
        %p.whitespaced= @trade_request.description
