!!! 5
%html
  %head
    %title Dashous
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .logo
        = link_to 'DASHOUS', root_path
      .top-nav
        .search
          %input(type="text" name="query" placeholder="Search")
          .search-button
            .fa.fa-search.fa-lg
    .nav
      %a.item
        .fa.fa-handshake-o.fa-lg
        Offers
      %a.item
        .fa.fa-street-view.fa-lg
        Trade Requests
      %a.item
        .fa.fa-user-circle-o.fa-lg
        Account
    .content
      = yield
