!!! 5
%html
  %head
    %title Dashous
    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0', name: 'viewport'}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .logo
        = link_to 'DASHOUS', root_path
        .mobile-nav
          - if current_user
            = link_to offers_path, class: 'item' do
              .fa.fa-usd.fa-lg
            = link_to trade_requests_path, class: 'item' do
              .fa.fa-street-view.fa-lg
            = link_to account_index_path, class: 'item' do
              .fa.fa-briefcase.fa-lg
          - else
            = link_to new_user_session_path, class: 'item' do
              Login
            = link_to new_user_registration_path, class: 'item' do
              Signup
      .top-nav
        = form_tag('/', method: 'POST', class: 'search') do
          = text_field_tag :query, @query, placeholder: 'Search City, State or Country'
          .fa.fa-crosshairs.fa-lg.js-geolocate(title="Use current location" onclick="window.getGeolocation()")
          %label.search-button
            %input(type="submit" value="")
            .fa.fa-search.fa-lg
    .nav
      - if current_user
        = link_to offers_path, class: 'item' do
          .fa.fa-usd.fa-lg
          My Offers
        = link_to trade_requests_path, class: 'item' do
          .fa.fa-street-view.fa-lg
          Trade Requests
        = link_to account_index_path, class: 'item' do
          .fa.fa-briefcase.fa-lg
          Account
      - else
        = link_to new_user_session_path, class: 'item' do
          .fa.fa-key.fa-lg
          Login
        = link_to new_user_registration_path, class: 'item' do
          .fa.fa-trophy.fa-lg
          Signup

    .content
      - flash.each do |key, value|
        %div{class: "alert alert-#{key}"}= value
      = yield
