!!! 5
%html
  %head
    %title Dashous
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .logo
        = link_to 'DASHOUS', root_path
      .top-nav
        %form.search(action="/" method="GET")
          = text_field_tag :query, @query, placeholder: 'Search City, State or Country'
          .fa.fa-crosshairs.fa-lg.js-geolocate(title="Use current location")
          %label.search-button
            %input(type="submit" value="")
            .fa.fa-search.fa-lg
    .nav
      - if current_user
        %a.item
          .fa.fa-usd.fa-lg
          Offers
        = link_to trade_requests_path, class: 'item' do
          .fa.fa-street-view.fa-lg
          Trade Requests
        %a.item
          .fa.fa-briefcase.fa-lg
          Account
        = link_to destroy_user_session_path, method: 'DELETE', class: 'item' do
          .fa.fa-bomb.fa-lg
          Logout
      - else
        = link_to new_user_session_path, class: 'item' do
          .fa.fa-key.fa-lg
          Login
        = link_to new_user_registration_path, class: 'item' do
          .fa.fa-trophy.fa-lg
          Sign Up

    .content
      = yield
