!!! 5
%html
  %head
    %title Dashous

    = csrf_meta_tags
    %meta{content: 'width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0', name: 'viewport'}
    %link{href: '/assets/favicons/apple-icon-57x57.png', rel: 'apple-touch-icon', sizes: '57x57'}
    %link{href: '/assets/favicons/apple-icon-60x60.png', rel: 'apple-touch-icon', sizes: '60x60'}
    %link{href: '/assets/favicons/apple-icon-72x72.png', rel: 'apple-touch-icon', sizes: '72x72'}
    %link{href: '/assets/favicons/apple-icon-76x76.png', rel: 'apple-touch-icon', sizes: '76x76'}
    %link{href: '/assets/favicons/apple-icon-114x114.png', rel: 'apple-touch-icon', sizes: '114x114'}
    %link{href: '/assets/favicons/apple-icon-120x120.png', rel: 'apple-touch-icon', sizes: '120x120'}
    %link{href: '/assets/favicons/apple-icon-144x144.png', rel: 'apple-touch-icon', sizes: '144x144'}
    %link{href: '/assets/favicons/apple-icon-152x152.png', rel: 'apple-touch-icon', sizes: '152x152'}
    %link{href: '/assets/favicons/apple-icon-180x180.png', rel: 'apple-touch-icon', sizes: '180x180'}
    %link{href: '/assets/favicons/android-icon-192x192.png', rel: 'icon', sizes: '192x192', type: 'image/png'}
    %link{href: '/assets/favicons/favicon-32x32.png', rel: 'icon', sizes: '32x32', type: 'image/png'}
    %link{href: '/assets/favicons/favicon-96x96.png', rel: 'icon', sizes: '96x96', type: 'image/png'}
    %link{href: '/assets/favicons/favicon-16x16.png', rel: 'icon', sizes: '16x16', type: 'image/png'}
    %link{href: '/favicon_manifest.json', rel: 'manifest'}
    %meta{content: '#ffffff', name: 'msapplication-TileColor'}
    %meta{content: '/assets/favicons/ms-icon-144x144.png', name: 'msapplication-TileImage'}
    %meta{content: '#ffffff', name: 'theme-color'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .popup
      .overlay{onclick: 'window.closePopup()'}
      .popup-content-container
        .popup-content
        .popup-actions
          %button.primary{onclick: 'window.closePopup()'} Close
    .header
      .logo
        = link_to 'DASHOUS', root_path
        .mobile-nav
          - if current_user
            = link_to offers_path, class: "item #{'active' if @section == :offers}" do
              .fa.fa-usd.fa-lg
            = link_to trade_requests_path, class: "item #{'active' if @section == :trade_requests}" do
              .fa.fa-street-view.fa-lg
            = link_to account_path, class: "item #{'active' if @section == :account}" do
              .fa.fa-briefcase.fa-lg
          - else
            = link_to new_user_session_path, class: 'item' do
              Login
            = link_to new_user_registration_path, class: 'item' do
              Signup
      .top-nav
        = form_tag('/', method: 'POST', class: 'search') do
          = text_field_tag :query, @query, placeholder: 'City, State or Country'
          .fa.fa-crosshairs.fa-lg.js-geolocate(title="Use current location" onclick="window.getGeolocation()")
          %label.search-button
            %input(type="submit" value="")
            .fa.fa-search.fa-lg
        .price
          %span.price-description 1 Dash =
          - currency = current_user.present? ? current_user.currency : 'usd'
          - price = ExchangeRateService.current_price(currency)
          = MoneyService.format(price, currency)
    .nav
      - if current_user
        = link_to offers_path, class: "item #{'active' if @section == :offers}" do
          .fa.fa-usd.fa-lg
          My Offers
        = link_to trade_requests_path, class: "item #{'active' if @section == :trade_requests}" do
          .fa.fa-street-view.fa-lg
          Trade Requests
        = link_to account_path, class: "item #{'active' if @section == :account}" do
          .fa.fa-briefcase.fa-lg
          Account
      - else
        = link_to new_user_session_path, class: 'item' do
          .fa.fa-key.fa-lg
          Login
        = link_to new_user_registration_path, class: 'item' do
          .fa.fa-trophy.fa-lg
          Signup
      .revision
        = link_to "Version: #{Settings.git.revision}", "#{Settings.git.github_url}/commit/#{Settings.git.revision}", target: '_blank'

    .content
      .wrapper
        - flash.each do |key, value|
          %div{class: "alert alert-#{key}"}= value
        = yield

    .footer
      = link_to 'Terms', terms_path
      = link_to 'Privacy', privacy_path
      = link_to 'Github', Settings.git.github_url, target: '_blank'
      = link_to 'Reddit', 'https://www.reddit.com/r/dashous', target: '_blank'
      = mail_to Settings.admin.email, 'Contact'
      = link_to 'Donate', donate_path
      %span Dashous LLC

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '#{Settings.google_analytics.key}', 'auto');
      ga('send', 'pageview');
